// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.quantity {
    font-size: xx-large;
    text-align: center;
    width: 70px;
    border-radius: 10px;
    height: 70px;
}
